body {
    
    background-color: #ACE2E1;
    
  }
a {
    color: black;
    text-decoration: none;
  }
strong{
    color: #008DDA;
}

p{
    text-align: justify;
    font-size: 4vh;
}
ol {
    text-align: left;
    
    margin: 0;
    padding: 20px;
  }

nav{
    background-color: #41C9E2;
    padding: 10px 15px;
}

.nav-link{
    font-size: 20px;
    border: 1px;
    border-color: #008DDA;
}

.navbar-brand{
    background-color: #008DDA;
    padding: 10px;
    border-radius: 10%; 
}

.index-container{
    display: grid;
    grid-template-columns:1fr 1fr;
    margin: 100px 100px;
}


.index-item{
    text-align: justify;
    margin: 0 50px;
    vertical-align: middle;
}

.container1{
    display: grid;
    margin: 20px 50px;
}

.item1{
    text-align: center;
    padding: 20px 0;
    
    
}

.item2{
    text-align: right;
    padding: 50px 100px;
    background-color: #F7EEDD;
    margin-bottom: 50px;
}
@media (max-width: 800px) {
    
    ol {
      border-right: none;
    }
    h1 {
      border-bottom: none;
    }
}


